.list_1{
    list-style-type: disc;
    color:green;
}

a:visited{
    color:gold;
}
a:hover{
    text-decoration: none;
    border-bottom: 1px dashed #000;
}
.link_1{
    cursor: wait;
}
